body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
  color: rgb(80, 76, 76);
}
* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  border-bottom: 1px solid rgb(221, 214, 214);
  box-shadow: 1px 2px 10px 3px rgb(207, 200, 200);
}
.logo {
  display: flex;
  cursor: pointer;
}
.logo img {
  scale: 70%;
}
.logo h2 {
  color: rgb(80, 80, 80);
}
#search-btn {
  height: 2.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(214, 207, 207);
}
#search-btn:focus {
  outline: 2px solid rgb(255, 239, 92);
}
.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.add-logo {
  cursor: pointer;
}
.note-add {
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 10rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 10px 5px rgb(196, 189, 189);
  transition: all 0.5s ease;
}
.note {
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 255, 137);
  box-shadow: 2px 2px 10px 5px rgb(196, 189, 189);
  transition: all 0.5s ease;
}
.remove-btn {
  cursor: pointer;
}

.info {
  background-color: rgb(243, 255, 137);
  max-width: 15rem;
}
.delete-div {
  width: 100%;
  text-align: right;
}
.date-and-delete {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-note {
  display: none;
}
.add-btn {
  background-color: rgb(120, 167, 255);
  border: none;
  border-radius: 0.5rem;
  padding: 0.6rem;
  font-size: 18px;
  cursor: pointer;
  color: white;
}
.popup-box {
  border-radius: 0.5rem;
  height: 20rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  transition: all 1s ease;
  z-index: 5;
}
.title {
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 213, 213);
}
.input-div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: large;
}
.input-div input {
  height: 2rem;
  margin: 0.7rem 0rem;
}
.add-note-btn {
  text-align: center;
  padding: 1rem;
}
.add {
  background-color: rgb(120, 167, 255);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  color: white;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}
.exit-popup {
  cursor: pointer;
}
.overlay {
  padding: 92rem;
  background-color: rgb(0, 0, 0);
  position: fixed;
  opacity: 0.7;
  display: none;
}
.show-popup,
.show-overlay {
  display: block;
}

.del-btn {
  background-color: rgb(255, 108, 108);
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 1rem;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.break {
  margin-top: 2rem;
  height: 1px;
  width: 12rem;
  background-color: rgb(226, 216, 216);
}
@media screen and (max-width: 600px) {
  .logo {
    scale: 80%;
    margin-left: -1.5rem;
  }
}
