body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
}
* {
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1.2rem;
  border-bottom: 1px solid rgb(221, 214, 214);
  box-shadow: 1px 2px 10px 3px rgb(207, 200, 200);
}
.logo {
  display: flex;
  cursor: pointer;
}
.logo img {
  scale: 70%;
}
.logo h2 {
  color: rgb(80, 80, 80);
}
#search-btn {
  height: 2.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(214, 207, 207);
}
#search-btn:focus {
  outline: 2px solid rgb(236, 255, 61);
}
#container {
  display: flex;
  justify-content: center;
  padding: 2rem 2rem;
}
#newNote {
  padding: 0.5rem;
  width: 40rem;
  border: 1px solid rgb(221, 212, 212);
  transition: 0.5s ease;
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 2px 10px 3px rgb(207, 200, 200);
}
#takeNote {
  border: none;
  border-radius: 0.5rem;
  width: 40rem;
  border: 1px solid rgb(219, 212, 212);
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px 2px rgb(207, 200, 200);
  transition: 0.4s ease;
  transition: 0.5s ease;
}
.overlay {
  position: absolute;
  top: 4rem;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}
#title {
  width: 100%;
  border-radius: 0.5rem;
}
.description,
.note-title {
  height: 2rem;
  resize: none;
  outline: none;
  border: none;
  font-size: x-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: 0.5s ease;
}
.expanded {
  transition: 0.5s ease;
  height: 10rem;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 1px 2px 10px 3px rgb(207, 200, 200);
  color: rgb(107, 102, 102);
}
.each-note-card {
  height: 10rem;
  width: 20rem;
  border: 1px solid rgb(226, 217, 217);
  border-radius: 0.5rem;
  box-shadow: 1px 2px 10px 3px rgb(207, 200, 200);
  margin: 2rem;
  z-index: 3;
}
.note-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-of-card {
  text-align: center;
  border-bottom: 1px solid rgb(247, 222, 4);
  width: 100%;
}
#note-color-choose {
  border: none;
  margin: 1rem 0;
  padding: 0;
  height: 1rem;
  width: 2rem;
}
button {
  height: 2rem;
  border: none;
  background-color: rgb(192, 212, 255);
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.1rem;
  padding: 0.5rem;
}
.new-note-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.edit-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgb(119, 114, 114);
}
@media screen and (max-width: 600px) {
  .logo {
    scale: 80%;
    margin-left: -1.5rem;
  }
}
